a {
  text-decoration: none;
  font-size: 40px;
  color: white;
  background-color: black;
  padding: 15px 36px;
  margin-top: 10px;
  height: 100px;
  width: 500px;
margin: auto;
  display: inline-block;
}
